<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rd.kv.shriharifin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.InvestToday"></activity>
        <activity android:name=".activity.InvestMonth"></activity>
        <activity android:name=".activity.InvestYear"></activity>
        <activity android:name=".activity.InvestTopTen"></activity>
        <activity android:name=".activity.InvestFullList"></activity>
        <activity android:name=".activity.SpentToday"></activity>
        <activity android:name=".activity.SpentMonth"></activity>
        <activity android:name=".activity.SpentYear"></activity>
        <activity android:name=".activity.SpentTopTen"></activity>
        <activity android:name=".activity.SpentFullList"></activity>
    </application>
</manifest>
